@media screen and (max-width: 708px) {
    .buttons-container_cancel{
        display: block;
        width: 103px;
    }
    .buttons-container_delete{
        display: none;
    }
    .footer-new-meet{
        height: 80px;
    }
    .message-line{
        display: none;
    }
    .buttons-container{
        margin-right: 16px;
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
    }
    .buttons-container_cancel, .buttons-container_save{
        height: 44px;
        font-size: 15px;
        line-height: 44px;
    }
    .buttons-container_save{
        width: 128px;
        color: white;
        background: #007DFF;
    }
    .buttons-container_save:hover{
        background: #007DFF;
    }
    .buttons-container_save:active{
        background: #0059FF ;
    }
    .select-room{
        margin-bottom: 20px;
    }
    .delete-line{
        display: flex;
        background: white;
    }
    .nmeet-container.nmeet-container_delete{
        width: 328px;
        margin: auto;
    }
    .delete_button{
        display: block;
        line-height: 54px;
        text-align: center;
        width: 100%;
        height: 54px;
        font-weight: 500;
        font-size: 15px;
        outline: none;
        color: #FF3333;
        cursor: pointer;
    }
    .modal-new-meet.modal-delete .buttons-container_cancel{
        display: inline-block;
        margin-bottom: 0px;
    }
    .modal-new-meet.modal-delete .buttons-container_cancel:last-of-type{
        width: 111px;
    }
}