* {
  box-sizing: border-box;
}
.body-new-meet {
  height: calc(100vh - 80px);
  flex-direction: column;
}
.body-new-meet,
.main-new-meet,
.title-line,
.title-line_exit-button,
.theme-line,
.time,
.start-end,
.start-end_separator,
.members-line,
.footer-new-meet,
.buttons-container,
.select-room_roomblock {
  display: flex;
}
.header_container.header_container_meet {
  margin-top: 25px;
  margin-bottom: 21.6px;
}
.main-new-meet {
  box-shadow: 0 -1px 0 0 #e9ecef;
  flex-grow: 1;
  flex-direction: column;
}
.start-end_separator > span {
  margin: auto;
  font-weight: lighter;
  font-size: 37px;
  transform: translateY(5px);
}
.nmeet-container {
  width: 876px;
  margin: 0 auto;
}
.title-line {
  margin-top: 31px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.title-line_exit-button {
  width: 24px;
  height: 24px;
  background: #e9ecef;
  border-radius: 100px;
  cursor: pointer;
}
.membres-show_icon {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  margin-right: 8px;
}
.members-show {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
}
.members-show_name {
  margin-right: 15px;
}
.members-show_close-icon {
  margin-right: 9.1px;
  cursor: pointer;
}
.body-new-meet {
  background: white;
}
.members-show_show-block {
  display: flex;
  border-radius: 16px;
  background: #e9ecef;
  margin-right: 8px;
  margin-bottom: 8px;
}
.title-line_exit-button img {
  margin: auto;
}
.theme,
.time,
.members,
.select-room {
  width: 420px;
}
.theme,
.members {
  margin-right: 32px;
}
.theme_input,
.members_input {
  width: 100%;
}
.members_input-block div:nth-of-type(2) {
  width: 100%;
}
.input_valid_err {
  position: relative;
}
.input_error {
  position: absolute;
  font-size: 9px;
  color: #ff3860;
  display: none;
}
.input_valid_err .input_error {
  display: block;
}
.input_valid_err input {
  border: 2px solid #ff3860;
}

.input_valid_err input:hover {
  border: 2px solid #ff3860;
}
input {
  height: 38px;
  border: 2px solid #e9ecef;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}
input[role="combobox"]{
  width: 100%;
}
input:hover {
  border: 2px solid #007dff;
}

input::placeholder {
  font-size: 13px;
  color: #858e98;
  letter-spacing: 0.47px;
}
.theme_title {
  font-size: 13px;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 4px;
}
.date_input {
  width: 238px;
  margin-right: 16px;
  background-image: url(../assets/calendar.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.react-datepicker-wrapper input{
  width: 238px;
  background-image: url(../assets/calendar.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-right: 16px;
}
.list_memb-block{
  height: 34px;
  display: flex;

  .membres-show_icon{
    margin:  auto 8px auto 16px;
    
  }
  .list_name{
    margin:  auto 0;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
  }
  .item_floor{
    font-size: 13px;
    color: #37003E;
    letter-spacing: 0;
    line-height: 15px;
  }
}

.start-end_separator {
  margin: 0px 4px;
}
.start-block_input {
  width: 72px;
}
.theme-line {
  margin-bottom: 24px;
}
.footer-new-meet {
  height: 76px;
  box-shadow: 0 -1px 0 0 #e9ecef;
}
.buttons-container {
  margin: auto;
}
.buttons-container_cancel {
  background: #e9ecef;
  border-radius: 4px;
  width: 80px;
  display: inline-block;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin-right: 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0;
  user-select: none;
  text-decoration: none;
  color: black;
}
.buttons-container_cancel:hover {
  background: rgba(0, 16, 33, 0.05);
}
.buttons-container_cancel:active {
  background: rgba(4, 29, 56, 0.14);
}
.buttons-container_cancel:disabled {
  background: #e2e5e8;
  color: rgba(0, 0, 0, 0.20);
}
.select-room_roomblock {
  height: 37px;
  background: #e9ecef;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  position: relative;
}
.select-room_time {
  font-size: 13px;
  letter-spacing: 0;
  font-weight: bold;
  margin-right: 16px;
}
.select-room_room {
  font-size: 13px;
  letter-spacing: 0;
}
.select-room_container {
  margin: auto 10px;
}
.selct-room_icon {
  position: absolute;
  right: 15.4px;
  top: 14.4px;
  display: none;
}
.members-line .nmeet-container {
  width: auto;
}

.message-line_message {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  margin: auto 16px;
}

.message-line {
  background: rgba(0, 16, 33, 0.80);
  opacity: 0.93;
  height: 43px;
  display: none;
}

.header_button-foo {
  margin-right: 0px;
}

//Edit Style

.footer-new-meet.footer-edit {
  .buttons-container_delete,
  .buttons-container_save {
    background: #e9ecef;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
    user-select: none;
    color: black;
    text-decoration: none;
  }
  .buttons-container_delete:hover,
  .buttons-container_save:hover {
    background: rgba(0, 16, 33, 0.05);
  }
  .buttons-container_delete:active,
  .buttons-container_save:active {
    background: rgba(4, 29, 56, 0.14);
  }
  .buttons-container_delete:disabled,
  .buttons-container_save:disabled,
  .buttons-container_cancel:disabled {
    background: #e2e5e8;
    color: rgba(0, 0, 0, 0.20);
  }
  .buttons-container_delete {
    width: 140px;
    height: 36px;
    margin-right: 16px;
  }
  .buttons-container_cancel {
    text-decoration: none;
    color: black;
    display: inline-block;
  }
  .buttons-container_save {
    width: 101px;
    height: 36px;
  }
}
.theme_input-con {
  position: relative;
}
.theme_close-icon {
  position: absolute;
  right: 14px;
  top: 13.4px;
}
.delete-line {
  display: none;
}
.modal-new-meet.modal-delete .modal-new-meet_panel {
  height: 230px;
}
.modal-new-meet.modal-delete .modal-new-meet_title:first-of-type {
  margin-bottom: -4px;
}
.modal-new-meet_title:last-of-type {
  margin-bottom: 23px;
}
.modal-new-meet.modal-delete .buttons-container_cancel:last-of-type {
  width: 86px;
  margin-right: 0px;
}
.modal-new-meet.modal-delete .buttons-container_cancel:first-of-type {
  margin-bottom: 9px;
}
